Updated Container.astro

---
import { cn } from '../../lib/utils'

type Props = {
    size: 'sm' | 'md' | 'lg' | 'xl' | '2xl'
}

const { size } = Astro.props
---

<div class={cn('container', `container-${size}`)}>
    <slot />
</div>