---
import "../../styles/global.css";
import RecipeItem from "../RecipeItem.astro";

const recipeFiles = import.meta.glob("../../content/recipes/*.mdx", { eager: true });

const recipeCollection = Object.values(recipeFiles).map((file) => {
    const frontmatter = file.frontmatter || {};
    return {
        slug: frontmatter.slug,
        title: frontmatter.title || "Untitled Recipe",
        image: frontmatter.image || { url: "/images/default.jpg", alt: "Default image" },
        description: frontmatter.description || "No description available",
        title_desc: frontmatter.title_desc || frontmatter.description || "No description available",
        tags: frontmatter.tags || []
    };
});

// Collect all tags into a single array
const allTags = recipeCollection.flatMap((recipe) => recipe.tags || []);

// Create a list of unique tags
const uniqueTags = [...new Set(allTags)];

---
<main class="relative overflow-hidden">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 lg:gap-y-32 mx-auto place-items-center">
        {recipeCollection.map((item) => (
                <RecipeItem
                        slug={item.slug}
                        image={item.image?.url}
                        imageAlt={item?.alt}
                        title={item.title}
                        desc={item.title_desc || item.description}
                        />
                ))}
    </div>
</main>
