@import "tailwindcss";

/* Default (Dark Theme) */
:root {
  /* Charcoal */
  --color-background: var(--color-san-juan-700);
  --color-foreground: var(--color-wild-sand-200);
  --color-foreground-hover: var(--color-wewak-300);
  --color-primary: var(--color-cascade-400);
  --color-secondary: var(--color-aquamarine-blue-300);
  --color-accent: var(--color-spring-rain-300);
  --color-muted: var(--color-cascade-500);
  --color-border: var(--color-san-juan-900);

  --color-charcoal-50: hsl(120, 7%, 93%);
  --color-charcoal-100: hsl(120, 6%, 85%);
  --color-charcoal-200: hsl(120, 5%, 73%);
  --color-charcoal-300: hsl(120, 5%, 56%);
  --color-charcoal-400: hsl(120, 6%, 39%);
  --color-charcoal-500: hsl(120, 6%, 25%);
  --color-charcoal-600: hsl(120, 6%, 19%);
  --color-charcoal-700: hsl(120, 7%, 15%);
  --color-charcoal-800: hsl(120, 7%, 10%);
  --color-charcoal-900: hsl(120, 7%, 5%);

  --color-tomato-50: hsl(10, 100%, 96%);
  --color-tomato-100: hsl(10, 100%, 91%);
  --color-tomato-200: hsl(10, 98%, 82%);
  --color-tomato-300: hsl(10, 97%, 76%);
  --color-tomato-400: hsl(10, 97%, 70%);
  --color-tomato-500: hsl(10, 97%, 63%);
  --color-tomato-600: hsl(10, 98%, 50%);
  --color-tomato-700: hsl(10, 98%, 38%);
  --color-tomato-800: hsl(10, 98%, 26%);
  --color-tomato-900: hsl(10, 98%, 13%);

  --color-negroni-50: hsl(30, 60%, 97%);
  --color-negroni-100: hsl(30, 60%, 94%);
  --color-negroni-200: hsl(30, 59%, 88%);
  --color-negroni-300: hsl(30, 58%, 84%);
  --color-negroni-400: hsl(30, 58%, 79%);
  --color-negroni-500: hsl(30, 58%, 75%);
  --color-negroni-600: hsl(30, 58%, 62%);
  --color-negroni-700: hsl(30, 59%, 48%);
  --color-negroni-800: hsl(30, 59%, 31%);
  --color-negroni-900: hsl(30, 59%, 16%);

  --color-sunshade-50: hsl(40, 94%, 95%);
  --color-sunshade-100: hsl(38, 91%, 87%);
  --color-sunshade-200: hsl(37, 88%, 74%);
  --color-sunshade-300: hsl(36, 88%, 63%);
  --color-sunshade-400: hsl(35, 87%, 57%);
  --color-sunshade-500: hsl(24, 87%, 49%);
  --color-sunshade-600: hsl(18, 91%, 42%);
  --color-sunshade-700: hsl(14, 83%, 37%);
  --color-sunshade-800: hsl(12, 76%, 31%);
  --color-sunshade-900: hsl(10, 70%, 27%);
  --color-sunshade-950: hsl(10, 66%, 16%);

  --color-wewak-50: hsl(350, 100%, 97%);
  --color-wewak-100: hsl(350, 100%, 94%);
  --color-wewak-200: hsl(350, 100%, 89%);
  --color-wewak-300: hsl(350, 100%, 80%);
  --color-wewak-400: hsl(350, 98%, 70%);
  --color-wewak-500: hsl(348, 91%, 63%);
  --color-wewak-600: hsl(346, 83%, 50%);
  --color-wewak-700: hsl(344, 85%, 41%);
  --color-wewak-800: hsl(343, 80%, 35%);
  --color-wewak-900: hsl(342, 79%, 30%);
  --color-wewak-950: hsl(342, 90%, 15%);

  --color-cascade-50: hsl(160, 18%, 96%);
  --color-cascade-100: hsl(160, 20%, 90%);
  --color-cascade-200: hsl(160, 23%, 80%);
  --color-cascade-300: hsl(160, 22%, 63%);
  --color-cascade-400: hsl(160, 16%, 51%);
  --color-cascade-500: hsl(160, 17%, 39%);
  --color-cascade-600: hsl(160, 21%, 31%);
  --color-cascade-700: hsl(160, 18%, 26%);
  --color-cascade-800: hsl(160, 17%, 22%);
  --color-cascade-900: hsl(160, 14%, 19%);
  --color-cascade-950: hsl(160, 24%, 10%);

  --color-spring-rain-50: #f2f7f2;
  --color-spring-rain-100: #e1ebe0;
  --color-spring-rain-200: #b4ceb3;
  --color-spring-rain-300: #99bc9a;
  --color-spring-rain-400: #6d9a70;
  --color-spring-rain-500: #4c7d51;
  --color-spring-rain-600: #39623d;
  --color-spring-rain-700: #2e4e33;
  --color-spring-rain-800: #263f2a;
  --color-spring-rain-900: #203423;
  --color-spring-rain-950: #111d13;

  --color-padua-50: #f2fbf6;
  --color-padua-100: #e1f7eb;
  --color-padua-200: #b8ebd0;
  --color-padua-300: #95e0b9;
  --color-padua-400: #5fc993;
  --color-padua-500: #3aad72;
  --color-padua-600: #2a8f5b;
  --color-padua-700: #25704a;
  --color-padua-800: #215a3e;
  --color-padua-900: #1d4a34;
  --color-padua-950: #0b281a;

  --color-wild-sand-50: hsl(0, 0%, 96%);
  --color-wild-sand-100: hsl(0, 0%, 93%);
  --color-wild-sand-200: hsl(0, 0%, 86%);
  --color-wild-sand-300: hsl(0, 0%, 74%);
  --color-wild-sand-400: hsl(0, 0%, 60%);
  --color-wild-sand-500: hsl(0, 0%, 49%);
  --color-wild-sand-600: hsl(0, 0%, 40%);
  --color-wild-sand-700: hsl(0, 0%, 32%);
  --color-wild-sand-800: hsl(0, 0%, 27%);
  --color-wild-sand-900: hsl(0, 0%, 24%);
  --color-wild-sand-950: hsl(0, 0%, 16%);

  --color-java-50: hsl(180, 44%, 96%);
  --color-java-100: hsl(180, 51%, 89%);
  --color-java-200: hsl(180, 58%, 82%);
  --color-java-300: hsl(180, 62%, 71%);
  --color-java-400: hsl(180, 58%, 51%);
  --color-java-500: hsl(184, 61%, 42%);
  --color-java-600: hsl(187, 57%, 36%);
  --color-java-700: hsl(189, 52%, 30%);
  --color-java-800: hsl(190, 44%, 27%);
  --color-java-900: hsl(193, 39%, 24%);
  --color-java-950: hsl(193, 50%, 14%);

  --color-san-juan-50: hsl(210, 33%, 97%);
  --color-san-juan-100: hsl(220, 29%, 93%);
  --color-san-juan-200: hsl(213, 25%, 86%);
  --color-san-juan-300: hsl(213, 30%, 76%);
  --color-san-juan-400: hsl(213, 29%, 61%);
  --color-san-juan-500: hsl(213, 28%, 50%);
  --color-san-juan-600: hsl(213, 32%, 40%);
  --color-san-juan-700: hsl(213, 32%, 31%);
  --color-san-juan-800: hsl(213, 31%, 27%);
  --color-san-juan-900: hsl(213, 30%, 22%);
  --color-san-juan-950: hsl(213, 30%, 13%);

  --color-aquamarine-blue-50: hsl(175, 58%, 96%);
  --color-aquamarine-blue-100: hsl(176, 62%, 90%);
  --color-aquamarine-blue-200: hsl(177, 63%, 81%);
  --color-aquamarine-blue-300: hsl(183, 53%, 62%);
  --color-aquamarine-blue-400: hsl(185, 52%, 54%);
  --color-aquamarine-blue-500: hsl(187, 56%, 43%);
  --color-aquamarine-blue-600: hsl(190, 54%, 36%);
  --color-aquamarine-blue-700: hsl(192, 46%, 31%);
  --color-aquamarine-blue-800: hsl(193, 40%, 27%);
  --color-aquamarine-blue-900: hsl(195, 35%, 24%);
  --color-aquamarine-blue-950: hsl(195, 40%, 14%);

  --color-breaker-bay-50: hsl(175, 56%, 96%);
  --color-breaker-bay-100: hsl(174, 56%, 90%);
  --color-breaker-bay-200: hsl(174, 56%, 80%);
  --color-breaker-bay-300: hsl(175, 57%, 65%);
  --color-breaker-bay-400: hsl(176, 52%, 51%);
  --color-breaker-bay-500: hsl(184, 54%, 42%);
  --color-breaker-bay-600: hsl(186, 56%, 31%);
  --color-breaker-bay-700: hsl(187, 52%, 26%);
  --color-breaker-bay-800: hsl(188, 47%, 22%);
  --color-breaker-bay-900: hsl(189, 42%, 19%);
  --color-breaker-bay-950: hsl(190, 48%, 10%);

  /* Typography */
  font-feature-settings: "liga" 1, "calt" 1,
  "dlig" 1, "ss07" 1, "ss08" 1, "zero" 1,
  "tnum" 1, "cv03" 1, "cv04" 1, "cv01" 1,
  "cv09" 1, "cv02" 1;
  font-family: Inter, sans-serif;
  font-variant-numeric: tabular-nums;
}

/* Light Theme (Ready to enable later) */
:root.light-theme {
  --color-background: var(--color-wild-sand-200);
  --color-foreground: var(--color-san-juan-700);
  --color-primary: var(--color-tomato-300);
  --color-secondary: var(--color-negroni-700);
  --color-accent: var(--color-sunshade-400);
  --color-muted: var(--color-charcoal-200);
  --color-border: var(--color-charcoal-100);
}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* General Styles */
html, body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-foreground);
  font-weight: 7x00;
}

a {
  color: var(--color-accent);
}

button {
  background-color: var(--color-primary);
  color: var(--color-foreground);
  border: 1px solid var(--color-border);
  cursor: pointer;
}

button:hover {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

/* Header */
.header {
  background-color: var(--color-background); /* Use theme background */
  color: var(--color-foreground); /* Use theme foreground */
  padding: 0.75rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Navigation Container */
.nav-container {
  display: flex;
  justify-content: space-between; /* Push left and right links to opposite sides */
  align-items: center; /* Vertically center the items */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav-links-left,
.nav-links-right {
  display: flex;
  gap: 1.5rem; /* Space between links */
}
                                                     >
.nav-links-left a,
.nav-links-right a {
  text-decoration: none;
  color: var(--color-foreground);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links-left a:hover,
.nav-links-right a:hover {
  color: var(--color-foreground);

}

/* Hamburger Menu */
.hamburger {
  display: none;
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--color-foreground);
}

.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.announcement-bar {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-foreground);
  text-align: center;
  padding: 1rem 1rem; /* Increased padding for better spacing */
  font-weight: bold; /* Bold text */
  font-size: 1.25rem; /* Slightly larger text size */
  line-height: 1.5rem; /* Adjust line height for better readability */
  height: auto; /* Allows the height to adjust dynamically */
}

/* Recipe Card Styles */
.recipe-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 2rem;
}

.recipe-card-content {
  padding: 1.5rem;
}

.recipe-card-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.recipe-card-header h1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.recipe-card-header p {
  color: #4b5563;
  margin-bottom: 1rem;
}

.recipe-card-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.recipe-card-meta-item {
  background-color: var(--color-wild-sand-100);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.recipe-card-meta-item span.block {
  display: block;
  font-size: 0.875rem;
  color: #6b7280;
}

.recipe-card-meta-item span.font-medium {
  font-weight: 500;
}

.recipe-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.recipe-card-tag {
  background-color: var(--color-aquamarine-blue-100);
  color: var(--color-aquamarine-blue-800);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.recipe-container {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /*background-image: url('/images/grid-background.jpg');*/
  /*background-size: cover;*/
  padding: 2rem;
  border-radius: 0.5rem;
  /*background-color: var(--color-san-juan-600);*/
  /*background-blend-mode: overlay;*/
}

.recipe-breadcrumb {
  margin-bottom: 1.5rem;
}

.recipe-breadcrumb ol {
  display: inline-flex;
  align-items: center;
  space-x: 0.25rem;
}

.recipe-breadcrumb a {
  color: var(--color-aquamarine-blue-500);
}

.recipe-breadcrumb a:hover {
  text-decoration: underline;
}

.recipe-breadcrumb svg {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

/* Tag styles */
.tag-button {
  background-color: var(--color-sunshade-500);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  margin: 0.25rem;
}

.tag-button:hover {
  background-color: var(--color-sunshade-600);
  transform: translateY(-1px);
}

.tag-button.active {
  background-color: var(--color-sunshade-700);
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-sunshade-500);
}

/* Blog specific styles */
.blog-tag-button {
  background-color: var(--color-negroni-500) !important;
  color: var(--color-charcoal-900) !important;
}

.blog-tag-button:hover {
  background-color: var(--color-negroni-600) !important;
}

.blog-tag-button.active {
  background-color: var(--color-negroni-700) !important;
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-negroni-500) !important;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.recipe-card-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .recipe-card-images {
    flex-direction: row;
  }
}

.recipe-card-image {
  flex: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.recipe-card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-card-body {
  max-width: 100%;
  overflow-x: auto;
}

.recipe-card-body h1,
.recipe-card-body h2,
.recipe-card-body h3 {
  color: var(--color-aquamarine-blue-700);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.recipe-card-body ul,
.recipe-card-body ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.recipe-card-body li {
  margin-bottom: 0.5rem;
}

nav[aria-label="Breadcrumb"] ol {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif; /* Set the font-family for the breadcrumb container */
  font-size: 1rem; /* Set the font size for the breadcrumb container */
  font-weight: 400; /* Set the font weight for the breadcrumb container */
}

nav[aria-label="Breadcrumb"] li a {
  text-decoration: none;
  color: var(--color-sunshade-200); /* breadcrumb hyperlink */
  font-family: "Roboto", sans-serif; /* Example: Change font-family for links */
  font-size: 1rem; /* Adjust font size for links */
  font-weight: 500; /* Adjust font weight for links */
}

nav[aria-label="Breadcrumb"] li a:hover {
  text-decoration: underline;
  font-style: italic;
}

nav[aria-label="Breadcrumb"] li span {
  color: #6b7280; /* Tailwind's gray-500 */
  font-family: "Georgia", serif; /* Example: Change font-family for non-link text */
  font-size: 0.9rem; /* Slightly smaller font size for non-link text */
  font-weight: 400; /* Regular font weight for non-link text */
}

@font-face {
  font-family: "NiveauBold"; /* Name of your font */
  src: url("../fonts/NiveauGroteskBold.woff2") format("woff2"), /* Modern browsers */
  url("../fonts/NiveauGroteskBold.woff") format("woff");   /* Older browsers */
  font-weight: bold; /* Optional: Define font weight (e.g., normal, bold) */
  font-style: normal;  /* Optional: Define font style (e.g., normal, italic) */
}
