---

---
<main  class="relative overflow-hidden">
  <div class="relative mx-auto px-8 max-w-7xl py-24  md:px-12">
    <div class="mx-auto text-center ">

      <img src="/images/dragonnbao-dark-logo.png" alt="dragon&bao" class="mx-auto mb-6 w-1/2 md:w-1/2 lg:w-1/2" />
      <div class="flex justify-center flex-col gap-3 mt-10 sm:flex-row">
        <a
            class="items-center h-12 justify-center font-semibold rounded-full border-wild-sand-50 duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full text-wild-sand-50  lg:w-auto border focus-visible:outline-wild-sand-50 text-wild-sand-50/80"
            href="https://github.com/tcheiner/dragonnbao">Login</a
        >
        <a
            class="items-center h-12 justify-center rounded-full font-semibold duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-transparent border-wild-sand-50 bg-wild-sand-50 focus-visible:outline-wild-sand-50 focus-visible:ring-wild-sand-50  hover:border-wild-sand-50 hover:text-wild-sand-50 lg:w-auto text-charcoal-500"
            href="https://lexingtonthemes.com">Weekly Menus &nbsp; →</a
        >
      </div>
    </div>
  </div>
</main>
