---
import "../styles/global.css";
import BaseLayout from './BaseLayout.astro'
import TopLayout from '../components/global/BaseHead.astro'
import Footer from '../components/global/Footer.astro'
import CustomisedBreadCrumbs from "../components/utils/CustomisedBreadCrumbs.astro";
import Container from '../components/containers/Container.astro'
import Navigation from "../components/global/Navigation.astro";
let {title, description, image, subTitle, canonicalURL} = Astro.props;

if (!subTitle) {
    subTitle = title;
}
---
<BaseLayout
        title={title}
        description={description}
        ogImage={image?.url}
        canonicalURL={canonicalURL}
>
    <div class="flex-1 py-5">
        <Container size="md">
            <main class="flex min-h-[80vh] flex-auto flex-col w-full p-4 max-w-screen-lg" transition:name="hero">
            </main>
        </Container>
        </div>
</BaseLayout>