---
import "../../styles/global.css";
---
<div class="announcement-bar">
    Beta Test Site. Opening Soon!
</div>

<style>
    .announcement-bar {
        width: 100%;
        background-color: var(--color-cascade-500);
        color: var(--color-foreground);
        text-align: center;
        padding: 1rem 1rem; /* Increased padding for better spacing */
        font-weight: bold; /* Bold text */
        font-size: 1.25rem; /* Slightly larger text size */
        line-height: 1.5rem; /* Adjust line height for better readability */
        height: auto; /* Allows the height to adjust dynamically */
    }
</style>