---
import { siteConfig } from "../../config/siteConfig.js";
---
<div class="nav-container">
    <div class="nav-links-left">
        {siteConfig.siteData.leftHeaderNavLinks.map((link) => (
                <a href={link.href}>
                    {link.name}
                </a>
        ))}
    </div>
    <div class="nav-links-right">
        {siteConfig.siteData.rightHeaderNavLinks.map((link) => (
                <a href={link.href}>
                    {link.name}
                </a>
        ))}
    </div>
</div>